html.sr .load-hidden {
  visibility: hidden;
}

/* extension */
html.sr .widget {
  visibility: hidden;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, #111827 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
          display: flex;
          width: calc(200px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.6);
  height: 8px;
  width: 100%;
}

.progress-bar {
  background-color: #2196f3;
  height: 8px;
  width: 0%;
}

.content {
  padding: 1em;
}
